body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(222, 175, 2, 1) 84%,
    rgba(255, 136, 0, 1) 100%
  );
}

.container {
  max-width: 180px;
  margin: 20px auto;
}
